/*applying a universal selector to the webpage to set box sizing, padding, and margin*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*setting background color of the body to an offwhite shade*/
body {
    background-color: #d9dcd6;
}

/*setting styling changes to header class
padding around content of 20px
font family set for header class
background color set light blue 
text color set white*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*setting font size of header class font*/
.header h1 {
    font-size: 48px;
}

/*changing text color for "seo" letters of horiseon*/
.header h1 .seo {
    color: #d9dcd6;
}

/*setting margin & padding to 0 remove any default styling
set font family for navlist class
and 20px font size*/
.NavList{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*set display to inline-block so items will display next to each other not on new line
list style none to remove bullet points
position relative, nav list stays within normal flow can adjust palcement w/in container*/
.header ul li { 
    display: inline-block;
    margin-left: 25px;
    position:relative;
    right: -650px;
    bottom: 30px;
    list-style-type: none;
}

/*element selector setting link color to white*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*element selector setting paragraph font size*/
p {
    font-size: 16px;
}

/*height set to specifc px amount, width 100% to cover all of available page
assigning a picture to background -- cover and centered*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*image will present on left side of container
25px of right margin so text doesn't overlap picture*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*image will present on right side of container
25 px of left margin so text doesn't overlap picture*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*content class will take 75% of webpage
inline-block allows use to set a width or height
left margin on 20px so the aside area won't touch*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*applied to entire class multiple times with in main section
element height of 300px
padding all around of 50px
maring bottom only 20px
establish font-family, background color and text color*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*no matter the size of the window the image will not exceed 200opx*/
.search-engine-optimization img {
    max-height: 200px;
}

/*h2 font size set to 36px and bottom margin enlarged to give more space before p*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*main styling for aside section
right margin space to the right of container to be equal to right margin from main
20px of padding so text doesn't go edge to edge
float on right to show on right side of the webpage
100% height will take up 100% of avialable height
20% weight will take up 30% of avaialable width
set font for class
set background color*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*class will have margin on 32px only on bottom to give space before next element
set font color*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/*heading will have 10px marigin on bottom only before image display
text will be centered within container*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*display block so items appear on a new line
top and bottom margin is 10px L&R margin will auto center within container
img will not exceed with on 150px*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*30px of padding around footer
clear - no float
font family established for section
text centered within container*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*h2 will be 20px font size*/
.footer h2 {
    font-size: 20px;
}
